
 <!-- Pulls up the header ejs file and renders it in sync-->
<%- include("header"); -%>


  <!-- Replaces userName with user's input from previous page-->
  <section id="listBody">
    <p class="Nameheader">Hey <%=userName%>,</p>

    <p class="greet">Thank you for checking out my To-do List Web App.</p>
    <p class="instruction"><em><u>Instruction:</u>To make use of the list, click on the 'New item' and input your task, then click on the add button. You can check off task by clicking on the checkbox just before the task and it will automatically rule out the task.</em></p>

    <div class="box heading">
      <p><%= ejsDay %></p>
    </div>


    <div class="box">
      <% listItems.forEach(function(item){ %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" onChange="this.form.submit()" name="check" value="<%= item._id %>">
            <p class="list"><%= item.name %></p>
          </div>
          <input type="hidden" name="listName" value="<%= ejsDay %>"></input>
        </form>
      <% }); %>

      <form class="item" action="/list" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button class="button" type="submit" name="list" value="<%= ejsDay %>">+</button>
      </form>

    </div>
    <div class="threat">
      <p>And may the spirit of the evil Chicken never leave you until you accomplish these tasks.</p>
      <p>Just kidding 😄</p>
    </div>
  </section>



<!-- Pulls up the footer ejs file and renders it in sync -->
<%- include("footer"); -%>
